.advantages__title {
  @include text (36px, 40px);
  font-family: $oswald;
}

.advantages__list {
  @include reset;
  margin-top: 40px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    margin-right: 85px;
    margin-bottom: 35px;
    padding: 113px 40px 0 0;
    width: 300px;
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 113px 0 0;
    width: 245px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--img {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 3px;
      left: 5px;
      background-repeat: no-repeat;
      z-index: 1;

      @media (min-width: $tablet-width) {
        top: 15px;
        left: 15px;
      }
    }
  }

  &--nutritions {
    &::after {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::after {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--replace {
    &::after {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--changes {
    &::after {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantages__text {
  @include text (14px, 18px);
  margin: 0;
  color: $color-gray;
  z-index: 1;

  @media (min-width: $tablet-width) {
    @include text (16px, 24px);
  }

  &--number {
    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        display: block;
        position: absolute;
        width: 121px;
        height: 280px;
        top: 0;
        left: 125px;
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--one {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/one.png");
      }
    }
  }

  &--two {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/two.png");
      }
    }
  }

  &--three {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/three.png");
      }
    }
  }

  &--four {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/four.png");
      }
    }
  }
}
