.categories {
  width: 320px;
}

.categories__list {
  @include reset;
  margin: 0 20px;
}

.categories__item {
  position: relative;
  background-color: $basic-gray;
}

.categories__title {
  @include text (24px, 37px);
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
}

.categories__text {
  @include text (14px, 18px);
  margin: 0 20px;
  color: $color-gray;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color-bottom;
}

.catalog__link {
  @include text (16px, 16px);
  font-family: $oswald;
  text-transform: uppercase;
  color: $basic-black;
}
