.extra-products {
  width: 320px;
}

.extra-products__title {
  @include text (24px, 24px);
  font-family: $oswald;
}

.extra-products__list {
  @include reset;
}

.extra-products__subtitle {
  @include text (16px, 16px);
  font-family: $oswald;
  text-transform: uppercase;
  color: $black;
}

.extra-products__table {
  @include text (14px, 14px);
  color: $color-gray;
}
