@mixin reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin title ($size, $height) {
  font-size: $size;
  line-height: $height;
  font-weight: 500;
}

@mixin text ($size, $height) {
  font-size: $size;
  line-height: $height;
  font-weight: 400;
}
